<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Yarn Stash</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button id="open-modal">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content class="ion-padding">
  <ion-toolbar>
    <ion-title>
      <ion-row class="header-row text-left">
        <ion-col size="3">Nome</ion-col>
        <ion-col size="3">Cor</ion-col>
        <ion-col size="2">TEX</ion-col>
        <ion-col size="3">Quantidade</ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>

  <ion-row *ngFor="let row of data; let i = index" class="text-left">
    <ion-col size="3">{{ row.name }}</ion-col>
    <ion-col size="3">{{ row.color }}</ion-col>
    <ion-col size="2">{{ row.tex }}</ion-col>
    <ion-col size="3">{{ row.currentQuantity }}</ion-col>
  </ion-row>
</ion-content>

<ion-modal trigger="open-modal" class="ion-padding" (willDismiss)="onWillDismiss($event)">
  <ng-template>

    <ion-header class="ion-padding">
      <ion-toolbar>
        <ion-title>Adicionar nova lã</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <form [formGroup]="yarnForm" (ngSubmit)="onSubmit()" >

        <div>
          <label for="name">Nome</label>
          <input type="text" formControlName="name" required>
        </div>

        <div>
          <label for="brand">Marca</label>
          <input type="text" formControlName="brand" required>
        </div>

        <div>
          <label for="originalYardage">Metragem original</label>
          <input type="text" formControlName="originalYardage">
        </div>

        <div>
          <label for="weight">Peso original</label>
          <input type="text" formControlName="weight">
        </div>

        <div>
          <label for="currentQuantity">Quantidade restante</label>
          <input type="text" formControlName="currentQuantity">
        </div>

        <div>
          <label for="tex">TEX</label>
          <input type="text" formControlName="tex">
        </div>

        <div>
          <label for="color">Cor</label>
          <input type="text" formControlName="color">
        </div>

        <div>
          <label for="composition">Composição</label>
          <input type="text" formControlName="composition">
        </div>

        <button type="submit">Salvar</button>

      </form>
    </ion-content>

  </ng-template>
</ion-modal>