<div class="flex flex-col mt-4 px-2">
  <form [formGroup]="decreaseForm">
    <div class="flex flex-col items-start w-full">
      <div class="flex flex-row items-center">
        <label>Quantidade atual de pontos: </label>
        <input 
        formControlName="current"
        style="border: none; width: 80px; margin-left: 12px;"
        type="number"
        >
      </div>
    
      <div class="flex flex-row items-center mt-4">
        <label>Quantidade de diminuições: </label>
        <input 
        formControlName="decreases"
        style="border: none; width: 80px; margin-left: 12px"
        type="number"
        >
      </div>

      <ion-button class="self-center mt-4" (click)="calculateDecreases()">Calcular</ion-button>
    
      <ion-card  *ngIf="instructions" color="light">
        <ion-card-content>
          {{ instructions }}
        </ion-card-content>
      </ion-card>  
   </div>
  </form>
</div>