@import '../../../../theme/variables.scss';

.item-md.item-input.input-has-focus .item-inner {
  box-shadow: none;
}

ion-button{
  --background: #c9a7e3;
}

ion-input.ng-valid .ion-valid {
  border-color: none; /* or use your desired border color */
}

ion-input.ng-invalid .ion-invalid {
  border-color: none; /* or use your desired border color */
}

.input-highlight {
  color: none;
}