<div class="flex flex-col mt-4 px-2">

  <div class="flex flex-col items-start w-full">
    <div class="flex flex-row items-center">
      <ion-label>Quantidade atual de pontos: </ion-label>
      <ion-input 
      [(ngModel)]="current"
      style="border: none; width: 80px; margin-left: 12px;"
      color="light"
      type="number"
      clear-on-edit="true"
      labelPlacement="fixed"></ion-input>
    </div>

    <div class="flex flex-row items-center">
      <ion-label>Quantidade de diminuições: </ion-label>
      <ion-input 
      [(ngModel)]="decreases"
      style="border: none; width: 80px; margin-left: 12px"
      color="light"
      type="number"
      clear-on-edit="true"
      labelPlacement="fixed"></ion-input>
    </div>

    <ion-button class="self-center mt-10" (click)="showValues()">Calcular</ion-button>

  </div>

</div>