@import '../../../../theme/variables.scss';

h1{
  color: $lavender-mist;
  font-size: 2rem;
  font-weight: 900;
}

ion-title{
  color: $lavender-mist;
  font-size: 8rem;
}

ion-button{
  font-size: 4rem;
  color: $lavender-mist;
}