@import '../../../../theme/variables.scss';

.title{
  font-size: 2rem;
  color: #92949C;
}

ion-title{
  color: $powder-blue;
  font-size: 8rem;
}

ion-button{
  font-size: 4rem;
  color: $powder-blue;
}